<div class='container-fluid'>
  <h3 class='row text-white'>Search Providers</h3>
  <div class='row'>
    <div class='col-3'>
      <label for="payer-select">Insurance Provider</label>
      <select id="payer-select" class="custom-select" onchange="updateProviderNetworkList(event)">
        <option value=""></option>
        <% @payers.each do |param| %>
          <option value="<%= param[:value] %>"><%= param[:name] %></option>
        <% end %>
      </select>

      <label for="network-select">Network</label>
      <select id="network-select" class="custom-select" onchange="updateProviderNetwork(event)"></select>
 
      <label for="zip-input">Zip Code</label>
      <input id="zip-input" type="text" class="form-control bg-dark text-white" placeholder="06040" onkeyup="updateProviderZip(event)">
     <label for="radius-input">Radius in Miles</label>
      <input id="radius-input" type="text" class="form-control bg-dark text-white" placeholder="25 (default)" onkeyup="updateProviderRadius(event)">
      <label for="city-input">City</label>
      <input id="city-input" type="text" class="form-control bg-dark text-white" placeholder="Cambridge" onkeyup="updateProviderCity(event)">

      <label for="specialty-select">Specialty</label>
      <select id="specialty-select" class="custom-select" onchange="updateProviderSpecialty(event)">
      <option value=""></option>
        <% @nucc_codes.each do |param| %>
          <option value="<%= param[:value] %>"><%= param[:name] %></option>
        <% end %>
      </select>

      <label for="name-input">Name</label>
      <input id="name-input" type="text" class="form-control bg-dark text-white" onkeyup="updateProviderName(event)">

      <button id="provider-search-button", class="btn btn-outline-success" onclick="submitProviderSearch(event)">
        Find
      </button>
    </div>
    <div class='col-9'>
      <div class='btn-group float-right mt-2' role='group'>
        <button id="previous-button" class="btn btn-outline-primary disabled">Previous</button>
        <button id="next-button" class="btn btn-outline-primary disabled">Next</button>
      </div>
      <table id="providers-table" class="table table-dark">
      </table>
    </div>
  </div>
</div>
