<div class='container'>
  <div class=row'>
    <div class='col-6'>
      <h6>Search</h6>
      <label for="payer-select">Insurance Provider</label>
      <select id="payer-select" class="custom-select" onchange="updateNetworkList(event)">
        <option value=""></option>
        <% @payers.each do |param| %>
          <option value="<%= param[:value] %>"><%= param[:name] %></option>
        <% end %>
      </select>

      <label for="network-select">Network</label>
      <select id="network-select" class="custom-select" onchange="updateSearchParam(event,'network')"></select>

      <label for="zip-input">Zip Code</label>
      <input id="zip-input" type="text" class="form-control bg-dark text-white" onkeyup="updateSearchParam(event,'zip')">

      <label for="city-input">City</label>
      <input id="city-input" type="text" class="form-control bg-dark text-white" onkeyup="updateSearchParam(event,'city')">

      <label for="specialty-select">Specialty</label>
      <select id="specialty-select" class="custom-select" onchange="updateSearchParam(event,'specialty')">
      <option value=""></option>
        <% @nucc_codes.each do |param| %>
          <option value="<%= param[:value] %>"><%= param[:name] %></option>
        <% end %>
      </select>

      <label for="name-input">Name</label>
      <input id="name-input" type="text" class="form-control bg-dark text-white" onkeyup="updateSearchParam(event,'name')">
    </div>
    <div class='col-6'>
      Results
    </div>
  </div>
</div>
