<div class='container'>
  <!-- <div class='row'> -->
  <!-- <div class='col-12'> -->
  <!-- <h3 class='float-left text-white'> -->
  <!-- Practitioners -->
  <!-- </h3> -->
  <!-- </div> -->
  <!-- </div> -->
  <div class=row'>
    <div class='col-6'>
      <h6>Search</h6>
      Insurance Provider:
      <select id="payer-select" class="custom-select" onchange="updateNetworkList(event)">
        <option value=""></option>
        <% @payers.each do |param| %>
          <option value="<%= param[:value] %>"><%= param[:name] %></option>
        <% end %>
      </select>
      Network:
      <select id="network-select" class="custom-select">
      </select>
    </div>
    <div class='col-6'>
      Results
    </div>
  </div>
</div>
