<div class='container-fluid'>
  <div class='row'>
    <div class='col-3'>
      <label for="payer-select">Insurance Provider</label>
      <select id="payer-select" class="custom-select" onchange="updateNetworkList(event)">
        <option value=""></option>
        <% @payers.each do |param| %>
          <option value="<%= param[:value] %>"><%= param[:name] %></option>
        <% end %>
      </select>

      <label for="network-select">Network</label>
      <select id="network-select" class="custom-select" onchange="updateNetwork(event)"></select>

      <label for="zip-input">Zip Code</label>
      <input id="zip-input" type="text" class="form-control bg-dark text-white" onkeyup="updateZip(event)">

      <label for="city-input">City</label>
      <input id="city-input" type="text" class="form-control bg-dark text-white" onkeyup="updateCity(event)">

      <label for="name-input">Name</label>
      <input id="name-input" type="text" class="form-control bg-dark text-white" onkeyup="updateName(event)">

      <button id="pharmacy-search-button", class="btn btn-outline-success" onclick="submitPharmacySearch(event)">
        Find
      </button>
    </div>
    <div class='col-9'>
      <div class='btn-group float-right mt-2' role='group'>
        <button id="previous-button" class="btn btn-outline-primary disabled">Previous</button>
        <button id="next-button" class="btn btn-outline-primary disabled">Next</button>
      </div>
      <table id="pharmacies-table" class="table table-dark">
      </table>
    </div>
  </div>
</div>
