<div id="search-params">
  <div class="input-group mb-3">
    <select class="custom-select" onchange="updateQueryString(event)">
      <option value="name">name</option>
      <option value="_id">id</option>
    </select>
    <input type="text" class="form-control bg-dark text-white" onkeyup="updateQueryString(event)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" onclick="addSearchField(event)">+</button>
    </div>
  </div>
</div>
<div id="search-url">

</div>
<%= form_tag practitioners_path, method: 'get' do %>
  <div class='row'>
  </div>

  <%= hidden_field_tag(:query_string) %>
  <%= button_tag class: 'btn btn-outline-success my-2 my-sm-0' do %>
    Find
  <% end %>
<% end %>
