<h1>Export#index</h1>
<section class='container'>
	<% if @client %>
		<p class="text-success m-auto client-connected" style='text-align: center'>
			Exporting from  <%= cookies[:server_url] -%>
		</p>
        <%= render 'buttons' %>
		<%= render 'table' %>
	<%else%>
		<p class="text-danger m-auto" style='text-align: center'>No Connection Established</p>
	<% end %>
</section>
